<extends src="src/layouts/main.html">
    <block name="template">
        <table class="w-full font-sans">
            <tr>
                <td align="center" class="sm:px-16">
                    <table class="w-600 sm:w-full" style="background-color: #efebeb;">
                        {% capture email_title %}
                        {% if item_count == 1 %}
                        You left an item in your cart
                        {% else %}
                        You left items in your cart
                        {% endif %}
                        {% endcapture %}
                        {% capture email_body %}
                        {% if customer.first_name %}
                        {% if item_count == 1 %}
                        Hi @{{ customer.first_name }} @{{ customer.last_name }}, you added an item to your shopping cart
                        and haven't completed your purchase. You
                        can complete it now while it's still available.
                        {% else %}
                        Hi @{{ customer.first_name }} @{{ customer.last_name}}, you added items to your shopping cart
                        and haven't completed your purchase. You can
                        complete it now while they're still available.
                        {% endif %}
                        {% else %}
                        {% if item_count == 1 %}
                        Hi, you added an item to your shopping cart and haven't completed your purchase. You can
                        complete it now while it's
                        still available.
                        {% else %}
                        Hi, you added items to your shopping cart and haven't completed your purchase. You can complete
                        it now while they're
                        still available.
                        {% endif %}
                        {% endif %}
                        {% endcapture %}

                        <tr>
                            <td>
                                <div class="leading-32 sm:h-32 bg-white">&zwnj;</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="h-52"></td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <a href="@{{ shop.url }}/">
                                    <img src="@{{ shop.email_logo_url }}" width="75" alt="@{{ shop.name }}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="h-48"></td>
                        </tr>
                        <tr>
                            <td>
                                <table class="w-full">
                                    <tr>
                                        <td class="w-48 sm:w-16"></td>
                                        <td>
                                            <p class="m-0 text-black text-md text-center leading-20">
                                                @{{email_title}}
                                            </p>
                                            <p class="m-0 text-black text-md text-center leading-20">
                                                {% if custom_message != blank %}
                                                @{{ custom_message }}
                                                {% else %}
                                                @{{ email_body }}
                                                {% endif %}
                                            </p>
                                        </td>
                                        <td class="w-48 sm:w-16"></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td class="h-32"></td>
                        </tr>
                        <tr>
                            <td>
                                <table class="w-full">
                                    <tr>
                                        <td>
                                            <table class="w-full">
                                                <tr>
                                                    <td class="w-48 sm:w-16"></td>
                                                    <td class="">
                                                        <div class="uppercase">
                                                            <a href="@{{ url }}"
                                                                class="block py-16 text-gray-400 text-md font-normal text-center no-underline bg-black">
                                                                <!--[if mso]><i style="letter-spacing: 24px; mso-font-width: -100%; mso-text-raise:30px;">&#8202;</i><![endif]-->
                                                                <span style="mso-text-raise: 16px;">Items in your
                                                                    cart</span>
                                                                <!--[if mso]><i style="letter-spacing: 24px; mso-font-width: -100%;">&#8202;</i><![endif]-->
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td class="w-48 sm:w-16"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="link secondary-action-cell text-center w-full">
                                    <tr>
                                        <td class="w-48 sm:w-16"></td>

                                        <td class="link__cell pt-10 text-black">
                                            or
                                            <a href="@{{ shop.url }}" class="text-black">Visit our store</a>
                                        </td>
                                        <td class="w-48 sm:w-16"></td>

                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="h-32"></td>
                        </tr>
                        <!-- Table -->
                        <tr>
                            <td class="w-full">
                                <table class="w-full">
                                    <tr>
                                        <td class="w-48 sm:w-16"></td>
                                        <td>
                                            <table class="w-full text-sm sm:text-xs" id="payment-table">
                                                <td class="uppercase text-black font-bold ">Order @{{ name }}</td>
                                                <tr>
                                                    <td>
                                                        <h3 class="m-0 text-black text-md text-left leading-20">
                                                            Order summary
                                                        </h3>
                                                    </td>
                                                </tr>
                                                <tr class="uppercase" style="color: #868484;">
                                                    <td class="w-3/5"
                                                        style="border-right: 1px solid #bab8b8; border-top: 1px solid #bab8b8; border-bottom: 1px solid #bab8b8;">
                                                        product
                                                    </td>
                                                    <td class="w-1/5 pl-10 sm:pl-0 sm:text-center"
                                                        style="border-right: 1px solid #bab8b8; border-top: 1px solid #bab8b8; border-bottom: 1px solid #bab8b8;">
                                                        quantity</td>
                                                    <td class="w-1/5 pl-10"
                                                        style="border-top: 1px solid #bab8b8; border-bottom: 1px solid #bab8b8;">
                                                        price
                                                    </td>
                                                </tr>
                                                {% for line in subtotal_line_items %}
                                                <tr class="text-black">
                                                    <td class="w-3/5"
                                                        style="border-right: 1px solid #bab8b8; border-bottom: 2px solid #a9a7a7;">
                                                        <p class="m-0 uppercase tracking-0 font-bold">@{{
                                                            line.product.title }}</p>
                                                        <p class="m-0 text-xs">

                                                            {% for option in line.options_with_values %}
                                                            {% if option.name == "Weight" %}
                                                            <span>@{{ option.name }}: @{{ option.value }}</span>
                                                            {% endif %}
                                                            {% if option.name == "Grind" %}
                                                            <span>, @{{ option.name }}: @{{ option.value }}</span>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </p>
                                                        {% if line.discount_allocations %} {% for
                                                        discount_allocation in line.discount_allocations %} {% if
                                                        discount_allocation.discount_application.target_selection
                                                        != 'all' %}
                                                        <span class="order-list__item-discount-allocation">
                                                            <img src="@{{ 'notifications/discounttag.png' | shopify_asset_url }}"
                                                                width="18" height="18" class="discount-tag-icon" />
                                                            <span>
                                                                @{{ discount_allocation.discount_application.title |
                                                                upcase }} -(@{{ discount_allocation.amount | money }})
                                                            </span>
                                                        </span>
                                                        {% endif %} {% endfor %} {% endif %}
                                                    </td>
                                                    <td class="w-1/5 pl-10 "
                                                        style="border-right: 1px solid #bab8b8; border-bottom: 2px solid #a9a7a7;">
                                                        @{{ line.quantity }}
                                                    </td>
                                                    <td class="w-1/5 pl-10" style="border-bottom: 2px solid #a9a7a7;">
                                                        <p class="line-through my-0">
                                                            {% if line.original_line_price != line.final_line_price
                                                            %} @{{ line.original_line_price | money }} {% endif %}
                                                        </p>
                                                        <p class="my-0">
                                                            {% if line.final_line_price > 0 %} @{{
                                                            line.final_line_price | money }} {% else %} Free {%
                                                            endif %}
                                                        </p>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </td>
                                        <td class="w-48 sm:w-16"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="h-48"></td>
                        </tr>
                        <tr>
                            <td>
                                <table class="w-full">
                                    <tr>
                                        <td class="w-48 sm:w-16"></td>
                                        <td>
                                            <p
                                                class="m-0 text-black text-md text-center leading-20 disclaimer__subtext">
                                                Don't want to receive cart reminders from us?
                                                <a href="@{{ unsubscribe_url }}" class="text-black">Unsubscribe</a>
                                            </p>
                                        </td>
                                        <td class="w-48 sm:w-16"></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td class="h-52"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="leading-32 sm:h-32 bg-white">&zwnj;</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table class="w-full font-sans">
            <tr>
                <td align="center" class="bg-black text-white">
                    <table class="w-600 sm:w-full">
                        <tr>
                            <td class="py-20 sm:py-32">
                                <table class="w-full">
                                    <tr>
                                        <td class="w-48 sm:w-16"></td>
                                        <td>
                                            <table class="w-full">
                                                <td class="w-5/12 footer-item align-top" id="address">
                                                    <p style="border-bottom: 1px solid gray"
                                                        class="uppercase font-medium pb-4 text-xs">
                                                        Useful links
                                                    </p>
                                                    <div>
                                                        <a href=" https://ozonecoffee.co.uk/our-locations/"
                                                            target=”_blank”>Our
                                                            Locations</a>
                                                    </div>
                                                    <div>
                                                        <a href="https://ozonecoffee.co.uk/our-journal/"
                                                            target=”_blank”>Our
                                                            Journal</a>
                                                    </div>
                                                    <div>
                                                        <a href="https://ozonecoffee.co.uk/sustinere/"
                                                            target=”_blank”>Sustinere</a>
                                                    </div>
                                                    <div>
                                                        <a href="https://ozonecoffee.co.uk/work-with-us/"
                                                            target=”_blank”>Work with
                                                            us</a>
                                                    </div>
                                                </td>
                                                <td class="text-black w-1/12"></td>
                                                <td class="footer-item align-top w-5/12" id="address">
                                                    <p style="border-bottom: 1px solid gray"
                                                        class="uppercase font-medium pb-4 text-xs">
                                                        Social
                                                    </p>
                                                    <div>
                                                        <a href="https://www.instagram.com/ozonecoffeeuk/"
                                                            target=”_blank”>Instagram</a>
                                                    </div>
                                                    <div>
                                                        <a href="https://www.facebook.com/ozonecoffeeuk/"
                                                            target=”_blank”>Facebook</a>
                                                    </div>
                                                    <div><a href="https://www.linkedin.com/company/ozonecoffee/"
                                                            target=”_blank”>LinkedIn</a>
                                                    </div>
                                                </td>
                                            </table>
                                        </td>
                                        <td class="w-48 sm:w-16"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </block>
</extends>