<extends src="src/layouts/main.html">
    <block name="template">
        <table class="w-full font-sans">
            <tr>

                <td align="center" class="bg-white sm:px-16">
                    <table class="w-600 sm:w-full" style="background-color: #efebeb;">
                        <tr>
                            <td>
                                <div class="leading-32 sm:h-32 bg-white">&zwnj;</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="h-32"></td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <a href="https://ozonecoffee.co.uk">
                                    <img src="images/ozonelogo-sm.png" width="75" alt="Maizzle">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="h-48"></td>
                        </tr>
                        <tr>
                            <td class="bg-top bg-no-repeat bg-cover rounded text-left">
                                <table class="w-full">
                                    <tr>
                                        <td class="w-48 sm:w-16"></td>
                                        <td>
                                            <h1
                                                class="text-4xl m-0 text-black uppercase sm:leading-40 text-center tracking-6">
                                                Thanks for
                                            </h1>
                                            <h1
                                                class="text-4xl m-0 text-black uppercase sm:leading-40 text-center tracking-6">
                                                Your order
                                            </h1>
                                        </td>
                                        <td class="w-48 sm:w-16"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="h-48"></td>
                        </tr>
                        <tr>
                            <td>
                                <table class="w-full">
                                    <tr>
                                        <td class="w-48 sm:w-16"></td>
                                        <td class="h-48" style="border-top: 2px solid grey; color: #efebeb;">1
                                        </td>
                                        <td class="w-48 sm:w-16"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td class="w-48 sm:w-16"></td>
                                        <td>
                                            <p class="m-0 text-black text-md text-center leading-20">
                                                Hi there, we’ve
                                                received your
                                                order!
                                            </p>
                                            <div class="leading-12">&zwnj;</div>
                                            <p class="m-0 text-black text-md text-center leading-20">
                                                We’ll be in touch shortly to confirm when your order has been completed
                                                and provide further details.
                                            </p>
                                            <div class="leading-12">&zwnj;</div>

                                            <p class="m-0 text-black text-md text-center leading-20">
                                                Please note, if you have ordered a gift voucher, you will receive this
                                                as an attachment with your next confirmation
                                                email.
                                            </p>
                                            <div class="leading-12">&zwnj;</div>
                                            <p class="m-0 text-black text-md text-center leading-20">
                                                Big love, Ozone x
                                            </p>
                                            <p class="m-0 text-black text-md text-center leading-24">
                                                Ozone x
                                            </p>
                                        </td>
                                        <td class="w-48 sm:w-16"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table class="w-full">
                                    <tr>
                                        <td class="w-48 sm:w-16"></td>
                                        <td class="h-48" style="border-bottom: 2px solid grey; color: #efebeb;">1
                                        </td>
                                        <td class="w-48 sm:w-16"></td>

                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="h-20"></td>
                        </tr>
                        <!-- Table -->
                        <tr>
                            <td class="w-full">
                                <table class="w-full">
                                    <tr>
                                        <td class="w-48 sm:w-16"></td>
                                        <td>
                                            <table class="w-full text-sm sm:text-xs" id="payment-table">
                                                <td class="uppercase text-black font-bold ">Order #333</td>
                                                <tr class="uppercase" style="color: #868484;">
                                                    <td class="w-3/5"
                                                        style="border-right: 1px solid #bab8b8; border-top: 1px solid #bab8b8; border-bottom: 1px solid #bab8b8;">
                                                        product
                                                    </td>
                                                    <td class="w-1/5 pl-10 sm:pl-0 sm:text-center"
                                                        style="border-right: 1px solid #bab8b8; border-top: 1px solid #bab8b8; border-bottom: 1px solid #bab8b8;">
                                                        quantity</td>
                                                    <td class="w-1/5 pl-10"
                                                        style="border-top: 1px solid #bab8b8; border-bottom: 1px solid #bab8b8;">
                                                        price
                                                    </td>
                                                </tr>
                                                <tr class="text-black">
                                                    <td class="w-3/5"
                                                        style="border-right: 1px solid #bab8b8; border-bottom: 2px solid #a9a7a7;">
                                                        <p class="m-0 uppercase tracking-0 font-bold">Costa rica</p>
                                                        <p class="m-0 text-xs">Weight 1kg, Grind: Chemex</p>
                                                    </td>
                                                    <td class="w-1/5 pl-10 "
                                                        style="border-right: 1px solid #bab8b8; border-bottom: 2px solid #a9a7a7;">
                                                        1
                                                    </td>
                                                    <td class="w-1/5 pl-10" style="border-bottom: 2px solid #a9a7a7;">
                                                        £60</td>
                                                </tr>
                                                <tr class="uppercase" style="color: #868484;">
                                                    <td class="w-3/5">Subtotal:</td>
                                                    <td class="w-1/5" style="border-right: 1px solid #bab8b8;"></td>
                                                    <td class="w-1/5 pl-10">£60.00</td>
                                                </tr>
                                                <tr class="uppercase">
                                                    <td class="w-3/5" style="border-top: 1px solid #bab8b8;">
                                                        Shipping:</td>
                                                    <td class="w-1/5"
                                                        style="border-right: 1px solid #bab8b8; border-top: 1px solid #bab8b8;">
                                                    </td>
                                                    <td class="w-1/5 pl-10" style="border-top: 1px solid #bab8b8;">£3.50
                                                    </td>
                                                </tr>
                                                <tr class="uppercase text-black font-bold">
                                                    <td class="w-3/5"
                                                        style="border-top: 2px solid #a9a7a7; border-bottom: 1px solid #bab8b8;">
                                                        Total:</td>
                                                    <td class="w-1/5"
                                                        style="border-top: 2px solid #a9a7a7; border-bottom: 1px solid #bab8b8; border-right: 1px solid #bab8b8;">
                                                    </td>
                                                    <td class="w-1/5 pl-10"
                                                        style="border-top: 2px solid #a9a7a7; border-bottom: 1px solid #bab8b8;">
                                                        £63.50</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="w-48 sm:w-16"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="h-48"></td>
                        </tr>
                        <tr>
                            <td class="">
                                <table class="w-full text-sm">
                                    <tr>
                                        <td class="w-48 sm:w-16"></td>

                                        <td>
                                            <table class="w-full">
                                                <td class="sm:w-full sm:block w-5/12" id="address">
                                                    <p style="border-bottom: 1px solid black"
                                                        class="uppercase font-bold pb-4 m-0">
                                                        Billing address
                                                    </p>
                                                    <p class="pt-10">
                                                        @{{ billing_address.first_name }} @{{
                                                        billing_address.last_name }}
                                                    </p>
                                                    <p>@{{ billing_address.address1 }}</p>
                                                    <p>@{{ billing_address.city }}</p>
                                                    <p>@{{ billing_address.zip }}</p>
                                                    <p>@{{ billing_address.country_code }}</p>
                                                </td>
                                                <td class="sm:hidden w-1/12"></td>
                                                <td class="sm:w-full sm:block w-5/12" id="address">
                                                    <p style="border-bottom: 1px solid black"
                                                        class="uppercase font-bold pb-4 text-sm m-0">
                                                        Shipping address
                                                    </p>
                                                    <p class="pt-10">
                                                        @{{ shipping_address.first_name }} @{{
                                                        shipping_address.last_name }}
                                                    </p>
                                                    <p>@{{ shipping_address.address1 }}</p>
                                                    <p>@{{ shipping_address.city }}</p>
                                                    <p>@{{ shipping_address.zip }}</p>
                                                    <p>@{{ shipping_address.country_code }}</p>
                                                </td>
                                            </table>
                                        </td>
                                        <td class="w-48 sm:w-16"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="h-32"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="leading-32 sm:h-32 bg-white">&zwnj;</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table class="w-full font-sans">
            <tr>
                <td align="center" class="bg-black text-white">
                    <table class="w-600 sm:w-full">
                        <tr>
                            <td class="py-20 sm:py-32">
                                <table class="w-full">
                                    <tr>
                                        <td class="w-48 sm:w-16"></td>
                                        <td>
                                            <table class="w-full">
                                                <td class="w-5/12 footer-item align-top" id="address">
                                                    <p style="border-bottom: 1px solid gray"
                                                        class="uppercase font-medium pb-4 text-xs">
                                                        Useful links
                                                    </p>
                                                    <div>
                                                        <a href=" https://ozonecoffee.co.uk/our-locations/"
                                                            target=”_blank”>Our
                                                            Locations</a>
                                                    </div>
                                                    <div>
                                                        <a href="https://ozonecoffee.co.uk/our-journal/"
                                                            target=”_blank”>Our
                                                            Journal</a>
                                                    </div>
                                                    <div>
                                                        <a href="https://ozonecoffee.co.uk/sustinere/"
                                                            target=”_blank”>Sustinere</a>
                                                    </div>
                                                    <div>
                                                        <a href="https://ozonecoffee.co.uk/work-with-us/"
                                                            target=”_blank”>Work with
                                                            us</a>
                                                    </div>
                                                </td>
                                                <td class="text-black w-1/12"></td>
                                                <td class="footer-item align-top w-5/12" id="address">
                                                    <p style="border-bottom: 1px solid gray"
                                                        class="uppercase font-medium pb-4 text-xs">
                                                        Social
                                                    </p>
                                                    <div>
                                                        <a href="https://www.instagram.com/ozonecoffeeuk/"
                                                            target=”_blank”>Instagram</a>
                                                    </div>
                                                    <div>
                                                        <a href="https://www.facebook.com/ozonecoffeeuk/"
                                                            target=”_blank”>Facebook</a>
                                                    </div>
                                                    <div><a href="https://www.linkedin.com/company/ozonecoffee/"
                                                            target=”_blank”>LinkedIn</a>
                                                    </div>
                                                </td>
                                            </table>
                                        </td>
                                        <td class="w-48 sm:w-16"></td>

                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </block>
</extends>